[Unit]
Description=Goby3 Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gobysoft
WorkingDirectory=/home/gobysoft/wip-comms-benchtop-demo/config/hwil
ExecStart=/usr/bin/gobyd gobyd-operator.pb.cfg

[Install]
WantedBy=multi-user.target
