version: 2
workflows:
  version: 2
  build:
    jobs:
       - amd64-build
       - armhf-build

jobs:
  amd64-build:
    docker:
      - image: ooicgsn/cgsn-mooring-build-base:1.0.0
    working_directory: /root/wip-comms
    environment:
      - DEBIAN_FRONTEND: "noninteractive"
      - DEBIAN_PRIORITY: "critical"
      - DEBCONF_NOWARNINGS: "yes"
      - DEBFULLNAME: "WIP CircleCI"
      - DEBEMAIL: "toby@gobysoft.org"
    steps: 
      - checkout
      - run: &run-update-apt
          name: Update apt packages
          command: apt-get update && apt-get dist-upgrade -y
      - run: &run-update-deb
          name: Update the debian source repo
          command: cd /root/debian && git pull
      - run: &run-nest-deb
          name: Nest debian source into wip-comms source
          command: mv /root/debian /root/wip-comms
      - run: &run-dch
          name: Add changelog entry                     
          command: NEWVERSION="$(git describe --tags HEAD | sed 's/_/~/' | sed 's/-/+/g')" &&  COMMENT="Autobuild for commit $(git log -1 --pretty=oneline)" && cd debian && dch --newversion=${NEWVERSION}-0~ubuntu16.04.1 -D xenial "${COMMENT}"
      - run: 
           name: Build the Debian package
           command: DEB_BUILD_OPTIONS="parallel=4" dpkg-buildpackage -b -us -uc
      - run: &run-store
           name: Store deb files
           command: mkdir /root/deb && cp ../*.deb /root/deb
      - store_artifacts: &store
          path: /root/deb
  armhf-build:
    docker: 
      - image: ooicgsn/cgsn-mooring-build-armhf:1.0.0
    working_directory: /root/wip-comms
    environment:
      - DEBIAN_FRONTEND: "noninteractive"
      - DEBIAN_PRIORITY: "critical"
      - DEBCONF_NOWARNINGS: "yes"
      - DEBFULLNAME: "CGSN CircleCI"
      - DEBEMAIL: "toby@gobysoft.org"
    steps: 
      - checkout
      - run: *run-update-apt
      - run: *run-update-deb
      - run: *run-nest-deb
      - run: *run-dch
      - run: export CONFIG_SITE=/etc/dpkg-cross/cross-config.armhf && export DEB_BUILD_OPTIONS="parallel=4 nocheck" && dpkg-buildpackage -aarmhf -b -us -uc
      - run: *run-store
      - store_artifacts: *store
