[Unit]
Description=WIP Classifier
After=gobyd.service
BindsTo=gobyd.service
Before=progressive_imagery.service

[Service]
Type=simple
User=gobysoft
WorkingDirectory=/home/gobysoft/wip-comms-benchtop-demo/config/hwil
ExecStart=/usr/bin/wip_comms_classifier classifier-veh1.pb.cfg

[Install]
WantedBy=gobyd.service
