[Unit]
Description=WIP Environmental Driver
After=gobyd.service
BindsTo=gobyd.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/gobysoft/wip-comms-benchtop-demo/config/hwil
ExecStart=/home/gobysoft/wip-comms-benchtop-demo/build/bin/wip_comms_environmental_driver environmental-veh1.pb.cfg

[Install]
WantedBy=gobyd.service
