[Unit]
Description=Goby Logger
After=gobyd.service
BindsTo=gobyd.service

[Service]
Type=simple
User=gobysoft
ExecStart=/usr/bin/goby_logger --log_dir /media/data/logs --interprocess 'platform: "wip-comms-demo-veh1"'

[Install]
WantedBy=gobyd.service
