[Unit]
Description=Goby3 Daemon
After=sys-devices-virtual-net-tun0.device
Wants=sys-devices-virtual-net-tun0.device

[Service]
Type=simple
User=gobysoft
WorkingDirectory=/home/gobysoft/wip-comms-benchtop-demo/config/hwil
ExecStart=/usr/bin/gobyd gobyd-veh1.pb.cfg

[Install]
WantedBy=multi-user.target
