[Unit]
Description=WIP IFCB database interface
After=gobyd.service
BindsTo=gobyd.service
After=postgresql.service


[Service]
Type=simple
User=gobysoft
WorkingDirectory=/home/gobysoft/wip-comms-benchtop-demo/config/hwil
ExecStart=/usr/bin/wip_comms_ifcb_database_interface db-veh1.pb.cfg

[Install]
WantedBy=gobyd.service
