[Unit]
Description=Progressive Imagery 
After=gobyd.service
BindsTo=gobyd.service

[Service]
Type=simple
User=gobysoft
WorkingDirectory=/home/gobysoft/wip-comms-benchtop-demo/config/hwil
ExecStartPre=/bin/bash -c "/bin/rm -rf /media/data/imgout; /bin/mkdir /media/data/imgout; sleep 1"
ExecStart=/usr/bin/progressive_imagery_g dpi-veh1.pb.cfg

[Install]
WantedBy=gobyd.service
